.u-card__container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-flow: row wrap;
}

.u-card {
	display: flex;
	flex-direction: column;
	height: 252px;
	width: 174px;
	color: $gray;
	margin: 10px 10px 10px 0px;
	position: relative;
}

.u-card__edit {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 15px;
	right: 2px;
	
	&--disable {
		display: none;
	}
}

.u-card__edit--remove, .u-card__edit--edit{
	width: 22px;
	height: 22px;
	margin: 4px;
}

.u-card__image {
	max-width: 174px;
	max-height: 174px;
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

.u-card__tile {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	margin-top: 8px;
}

.u-card__price {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	margin-top: 8px;
}

.u-card__link {
	color: $blue;
	line-height: 19px;
	margin-top: 8px;
	border: none;
	text-align: start;
	cursor: pointer;
}

