<nav class="l-navbar">

	<a href="index.html" class="c-logo">
		<img class="c-logo__image" src="/src/assets/images/header/logo/logo.svg" alt="">
		<span class="c-logo__alura">Alura</span>
		<span class="c-logo__geek">Geek</span>
	</a>	

	<div class="c-button__container" data-login-adm>
		<buttom data-page="login" class="c-button">Login</buttom >
	</div>

	<div class="c-searchbar">	
		<label class="c-searchbar__icon" for="searchbar" data-searchbar-btn>
			<img src="/src/assets/images/header/searchbar/icon-search.svg" alt="">
		</label>

		<input class="c-searchbar__input" type="text" name="" id="searchbar" placeholder="O que deseja encontra?" data-searchbar-input>
	</div>
</nav>



