// White
$white: #FFFFFF;
$search: #F5F5F5;

// Gray
$gray: #464646;
$graylight: #A2A2A2;

// Black
$black100: #464646;
$black80: #6B6B6B;
$black50: #F5F5F5;

// Blue
$blue: #2A7AE4;
$blue80: #5595E9;
$blue20: #D4E4FA;
$blue10: #EAF2FD;