@font-face {
	font-family: "Raleway Regular";
	src: url('../fonts/raleway/raleway-regular.ttf') format("truetype");
}

@font-face {
	font-family: "Raleway Bold";
	src: url('../fonts/raleway/raleway-bold.ttf') format("truetype");
}