<div class="l-container" data-category-product>
	<section data-search-product style="display: flex;flex-direction: row;"></section>

	<section id="starwars">
		<h2 class="u-title__section">Star Wars</h2>
		<div class="u-card__container" data-card-starwars></div>
	</section>

	<section id="consoles">
		<h2 class="u-title__section">Consoles</h2>
		<div class="u-card__container" data-card-consoles></div>
	</section>

	<section id="diversos">
		<h2 class="u-title__section">Diversos</h2>
		<div class="u-card__container" data-card-diversos></div>
	</section>

	<button class="c-button" data-page="products-all">Ver todos os produtos</button>
</div>
