<section class="l-login__content">			
	<h3 class="u-title__section">Iniciar Sessão</h3>

	<form>
		<div class="u-input__container">			
			<input class="u-input" type="text" id="email" data-email required>
			<label class="u-input__label" for="email">Escreva seu email</label>
		</div>

		<div class="u-input__container">			
			<input class="u-input" type="password" id="password" data-password required>
			<label class="u-input__label" for="password">Escreva sua senha</label>
		</div>

		<span class="alert">Email/Senha invalido!</span>

		<button data-loging class="c-button" type="submit">Entrar</button>
	</form>
</section> 
