@font-face {
	font-family: "Raleway Regular";
	src: url('../fonts/raleway/raleway-regular.ttf') format("truetype");
}

@font-face {
	font-family: "Raleway Bold";
	src: url('../fonts/raleway/raleway-bold.ttf') format("truetype");
}

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	font-family: "Raleway Regular";
	font-weight: 500;
	justify-content: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1440px;
	width: 100%;
	overflow-x: hidden;
}

@import 'color/color.scss';
@import 'header/header.scss';
@import 'header/banner.scss';
@import 'header/top/top.scss';
@import 'header/top/search-bar.scss';
@import 'header/top/login.scss';
@import 'header/top/logo.scss';
@import 'footer/footer.scss';
@import 'footer/copyright.scss';

