// Extras
@import 'extra/fonts.scss';
@import 'extra/color.scss';
@import 'extra/reset.scss';

html {
	display: flex;
	font-family: "Raleway Regular";
	font-weight: 500;
	justify-content: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1440px;
	width: 100%;
}

@import 'header/banner.scss';
@import 'header/top.scss';
@import 'header/top/search-bar-container.scss';
@import 'header/top/search-bar.scss';
@import 'header/top/login-button.scss';
@import 'header/top/logo.scss';

@import 'main/main.scss';

@import 'footer/footer-container.scss';
@import 'footer/footer-container/contact-me--content.scss';
@import 'footer/footer-container/contact-me--content/contact-me--container.scss';
@import 'footer/footer-container/contact-me--content/menu--footer.scss';
@import 'footer/footer-container/contact-me--content/contact-me--form.scss';
@import 'footer/footer-container/contact-me--content/contact-me--form/contact-me--title.scss';
@import 'footer/footer-container/contact-me--content/contact-me--form/input--name--container.scss';
@import 'footer/footer-container/contact-me--content/contact-me--form/input--mensagem.scss';
@import 'footer/footer-container/contact-me--content/contact-me--form/form--button.scss';

@import 'footer/copyright.scss';

