.login__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 423px;
	height: 291px;
	margin: 91px 20px;
	
	.u-title__section {
		align-self: center;
	}
}
