.input__file__container {
	display: flex;
	align-items: center;
	margin: 16px 0px;
}

.input__drop {
	align-items: center;
	border: 2px dashed $black80;
	color: $black80;
	display: flex;
	flex-direction: column;
	height: 175px;
	justify-content: space-evenly;
	text-align: center;
	width: 175px;
	overflow: hidden;

	img {
		display: flex;
		width: 100%;
		height: 100%;
	}
}

.input__file__label {
	align-items: center;
	border: 1px $blue solid;
	color: $blue;
	display: flex;
	height: 51px;
	justify-content: center;
	width: 239px;
}

@media screen and (min-width: 0){
	.input__file__container {
		.or, .input__file__label {
			display: none;
		}
	}

	.input__drop {
		.img::before {
			content: url('../images/icon/add-image.svg');
			width: 33px;
			height: 32px;
		}

		p::before{
			content: "Adicionar uma imagem para o produto";
		}
	}
}

@media screen and (min-width: 690px) {
	.input__drop {
		max-width: 282px;

		.img::before {
			content: url('../images/icon/no-image.svg');
			width: 33px;
			height: 32px;
		}

		p::before{
			content: "Arraste para adicionar uma imagem para o produto";
		}
	}

	.input__file__container {
		.or, .input__file__label {
			display: flex;
			margin-left: 10px;
		}
	}
	
}
