.product {
	display: flex;
	width: 100%;
}

.product__container {
	display: flex;
	color: $gray;
}

.product__image {
	max-width: 300px;
	height: 300px;
	margin-right: 10px;
	width: 100%;
}

.product__title, .product__price{
	font-weight: 700;
	margin-bottom: 10px;
}

.product__description {
	margin-top: 10px;
	width: 100%;
}

@media screen and (min-width: 0) {
	.product__container {flex-direction: column;}
}

@media screen and (min-width: 720px) {
	.product__container {flex-direction: row;}
}