<div class="search__bar__container">
	<div class="logo__content">
		<a href="../index.html" class="logo__container">
			<img class="logo__image" src="../assets/images/header/logo/logo.svg" alt="">
			<span class="logo__alura">Alura</span>
			<span class="logo__geek">Geek</span>
		</a>	

		<a href="../page/login.html" class="u-button">Login</a>
	</div>

	<div class="search__bar">	
		<label class="search__bar__icon" for="searchbar" data-searchbar-btn>
			<img class="search__icon" src="../assets/images/header/searchbar/icon-search.svg" alt="">
		</label>

		<input class="search__bar__input" type="text" name="" id="searchbar" placeholder="O que deseja encontra?" data-searchbar-input>
	</div>
</div>



