<div class="footer__container">
	<div class="contact-me__content">

		<div class="contact-me__container">

			<div class="menu__footer">

				<a href="#" class="logo__container">
					<img class="logo__image" src="assets/images/header/logo/logo.svg" alt="">
					<span class="logo__alura">Alura</span>
					<span class="logo__geek">Geek</span>
				</a>

				<div class="menu">

					<ul class="menu__footer__list">
						<li><a href="#">Quem somos nós</a></li>
						<li><a href="#">Politica de privacidade</a></li>
						<li><a href="#">Programa fidelidade</a></li>
						<li><a href="#">Nossas lojas</a></li>
						<li><a href="#">Quero ser franqueado</a></li>
						<li><a href="#">Anuncie aqui</a></li>
					</ul>

				</div>
			</div>

			<form class="contact-me__form" action="">
				<h4 class="u-title__section">Fale conosco</h4>

				<form action="#">
					<div class="u-input__container">			
						<label class="u-input__label" for="name">Nome</label>
						<input class="u-input" type="text" id="name">
					</div>

					<textarea class="u-textarea" placeholder="Escreva sua mensagem"></textarea>

					<button class="u-button" type="submit">Enviar mensagem</button>
				</form>
			</form>
		</div>

	</div>
</div>

<div class="copyright">
	<span>Desenvolvido por <a class="developer" href="#">Ygor Guilherme</a></span>
	<span>2022</span>
</div>