.logo__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.login__button {
	align-items: center;
	background: $white;
	border: 1px solid $blue;
	box-sizing: border-box;
	color: $blue;
	cursor: pointer;
	display: flex;
	height: 51px;
	justify-content: center;
	right: 0px;

	&:hover{
		background: $blue20;
		transition: ease-in-out .6s;
	}
}


@media screen and (min-width: 0) {
	.login__button {
		width: 123px;
		height: 40px;
		position: relative;
	}
}

@media screen and (min-width: 768px) {
	.login__button {
		width: 166px;
		position: absolute;
	}
}

@media screen and (min-width: 1440px) {
	.login__button {
		width: 182px;
		position: absolute;
	}
}