.logo__container {
	align-items: center;
	display: flex;
	margin-right: 32px;
	text-decoration:none;
	cursor: pointer;
}

.logo__image {
	height: 30px;
	margin-right: 5px;
}

.logo__alura, .logo__geek {
	font-size: 18px;
	font-family: "Raleway Bold";
	font-weight: 700;
}

.logo__alura {
	color: $blue;
}

.logo__geek {
	color: $gray;
}