.search__bar__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 115px;
	max-width: 1136px;
	margin: 0 20px;
	width: 100%;
	position: relative;
}

@media screen and (min-width: 0) {
	.search__bar__container {
		justify-content: space-between;
	}
}

@media screen and (min-width: 768px) {
	.search__bar__container {
		justify-content: start;
	}
}