.copyright {
	align-items:center;
	box-sizing: border-box;
	color: $gray;
	display: flex;
	flex-direction: column;
	height: 102px;
	justify-content: center;
	max-width: 1440px;
	padding:32px;
	width: 100%;
}

.developer {
	text-decoration: none;
	font-weight: 700;
	color: $gray;
}